.btn {
  background-color: #f1e8e7;
  color: #686464;
  &:hover {
    background-color: #9b9393;
    color: #f1e8e7;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #686464;
}
