.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 1060px;
  }

  @include atSmall {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1236px;
  }

  &--narrow {
    max-width: 1000px;

    &__height {
      padding-top: 14vh;
      @include atSmall {
        padding-top: 20vh;
      }
    }
  }
}
